*{
    font-family: 'poppins', sans-serif;
}

body{
    margin:0px;
}

.header{
    background-color: #35455D;
    width:100%;
    height:60px;
    position:relative;
    margin:0%;
    padding:0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

i{
    color: #FBF3E2;
    font-size: 30px;
    margin:5px 25px 5px 25px;
}

logo{
    color: #FBF3E2;
    font-family:'poppins', sans-serif;
    font-size: 30px;
}

#searchbar{
    display:flex;
    align-items: center;
    width:50%;
}

.searchbar{
    padding: 15px;
    height:10px;
    width:100%;
    border-radius: 5px;
    border:none;
    background-color: #f6f4f0;
}

.searchbar::placeholder{
    color:#35455d83;
}

.searchbar:focus::placeholder{
    visibility: hidden;
}

.search{
    background:none;
    border:none;
    position:absolute;
    visibility: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    margin-top: 50px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto', sans-serif;
}

.profile i{
    color:#35455D;
    font-size: 150px;
}

.profile h1{
    color:#35455D;
    font-size: 40px;
    margin:0px;
}

.profile h2{
    color:#35455D;
    opacity:0.7;
    font-size: 25;
    margin:0px;
}

hr{
    width:50%;
    min-width: 300px;
    border: none;
    border-top: 1px solid #BDBDBD;
}

.half{
    width:25%;
    margin:5%;
    max-width: 100px;
}

input[type="date"]::-webkit-calendar-picker{
    background-color:red;
}

.courses{
    align-self: flex-start;
    margin:20px;
    width:100%;
}

.assignments{
    align-self: flex-start;
    margin:20px;
    width:100%;
}

.dashboard{
    background-color: #ecddd03c;
    width:95%;
    box-sizing: border-box;
    height:250px;
    border:3px solid rgba(0,0,0,0.7);
    border-radius: 5px;
}

.dbcontent{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.calendar{
    width:50%;
    display:flex;
    justify-content: center;
}

.month{    
    width:40%;
    display:flex;
    flex-direction: column;
    margin:15px;
}

.week{
    display:flex;
    justify-content: space-around;
}

.weekday{
    font-size: small;
}

.dbcontent .button{
    background-color: #35455D;
    border-radius: 30px;
    padding:5px;
}

text{
    color:rgba(0,0,0,0.5);
}

a{    
    text-decoration: none;
    color:#FBF3E2;
}