body{
    margin:0px;
    font-family:'poppins', sans-serif;
}

.header{
    background-color: #35455D;
    width:100%;
    height:60px;
    position:sticky;
    margin:0%;
    padding:0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

i{
    color: #FBF3E2;
    font-size: 30px;
    margin:5px 25px 5px 25px;
}

logo{
    color: #FBF3E2;
    font-size: 30px;
}

img{
    margin:5%;
    width: 80%;
}

.picture{
    display: flex;
    justify-content: center;
    width:100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a{
    padding: 20px 50px;
    background-color: #35455D;
    border-radius: 25px;
    color:#FBF3E2;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    margin:1%;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    border-radius: 5px;
    border:2px solid rgba(0,0,0,0.5);
}

.faq{
    background-color: #faf6f3;
    width:100%;
}



.content h1{
    text-align: center;
    background-color: #35455D;
    color:#FAF6F3;
    width:100%;
    font-size: 40px;
    margin:0px;
    border-radius: 5px 5px 0px 0px;
}

.question{
    padding: 20px;
}

.answer{
    background-color: white;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2) ;
}